#!/bin/bash

# CAUTION: This script is more of a reference, than a usable command.
#
# Prerequisits
# Set up HAProxy, DNS and DHCP with fixed IP addreses for all nodes, 
# configured through ansible on a service/bastion node.
#
# Set up a basic KVM hypervisor through ansible and configure SSH keys for
# root on KVM and for apache user on the bastion host.
#
# This contents of this script is intended to be run from the KVM hypervisor.

# STEP -1: Make this script usable.
GET_ARGS=true
OKD_BOOTSTRAP=false
OKD_DESTROY=false
OKD_RESTART=false
OKD_UPLOAD=false
OKD_VERBOSE=false

USAGE="
$0 [OPTION]
  -b|--bootstrap        Bootstrap OKD4 on KVM
  -d|--destory          Destroy OKD4 cluster and clean-up.
  -r|--restart          Shuts down and modifies the cluster nodes after install.
  -u|--upload           Upload files to Services node. (optional)
  -v|--verbose		Print status messages. (optional)
"
while [ "${GET_ARGS}" == "true" ]; do
  case $1 in
    -b|--bootstrap)
      OKD_BOOTSTRAP=true; shift
      ;;
    -d|--destroy)
      OKD_DESTROY=true; shift
      ;;
    -r|--restart)
      OKD_RESTART=true; shift
      ;;
    -u|--upload)
      OKD_UPLOAD=true; shift
      ;;
    -v|--verbose)
      OKD_VERBOSE=true; shift
      ;;
    *)
      if [ "$#" -ne "0" ]; then
        echo "Unkown Argument: $1"
        echo "Usage: $USAGE"
        exit 1
      else
        GET_ARGS=false
      fi
      ;;
   esac
done

# Hacky and wordy way to test mutual exclusivity of three variables.
if [[ "${OKD_BOOTSTRAP}" == "true" && "${OKD_DESTROY}" == "true" ]] ||
   [[ "${OKD_BOOTSTRAP}" == "true" && "${OKD_RESTART}" == "true" ]] ||
   [[ "${OKD_RESTART}" == "true" && "${OKD_DESTROY}" == "true" ]] ; then
  echo "Bootstrap, Edit and Destroy options are mutually exclusive."
  echo "Usage: $USAGE"
  exit 1
elif [ "${OKD_BOOTSTRAP}" == "false" ] && [ "${OKD_DESTROY}" == "false" ] &&
     [ "${OKD_RESTART}" == "false" ]; then
  echo "One of Bootstrap (-b), Edit (-e) or Destroy (-d) options must be provided."
  echo "Usage: $USAGE"
  exit 1
fi

# STEP 0: Set Variables
[ "${OKD_VERBOSE}" == "true" ] && echo "Setting up Variables . . . "
{% set service_fqdn = service_node + '.' + base_domain -%}
export SERVICE_NODE={{ service_fqdn }}
export SERVICE_IP={{ hostvars[service_fqdn].ansible_host }}
export ARCH=x86_64
export IMGS=/var/lib/libvirt/images
export VIRT_XML=/etc/libvirt/qemu
export VIRT_NET={{ virt_network_name }}
export BASE_DOMAIN={{ base_domain }}

export OKD_VERSION={{ okd_version }}
export OKD_CLUSTER_NAME=okd4
export OKD_DOWNLOAD=https://github.com/okd-project/okd/releases/download

export SCOS_MAJ_VERS={{ scos_maj_vers }}
export SCOS_VERS={{ scos_vers }}
export SCOS_ISO=scos-${SCOS_VERS}-live-iso.x86_64.iso
export SCOS_KERNEL=scos-${SCOS_VERS}-live-kernel.x86_64
export SCOS_INITRD=scos-${SCOS_VERS}-live-initramfs.x86_64.img
export SCOS_ROOTFS=scos-${SCOS_VERS}-live-rootfs.x86_64.img
export SCOS_RAW=scos-${SCOS_VERS}-metal.x86_64.raw.gz
export SCOS_DOWNLOAD=https://cloud.centos.org/centos/scos/${SCOS_MAJ_VERS}/prod/streams/${SCOS_VERS}/${ARCH}

# Node Definitions
# This is a rendered list from the Ansible Inventory Hosts file.
[ "${OKD_VERBOSE}" == "true" ] && echo "Setting up Node Variables . . . "
VM_LIST=()
{% for host in groups['okd4_bootstrap'] + groups['okd4_master'] + groups['okd4_worker'] %}
{%- set host_role = host.split('.')[0] | regex_replace ("[0-9]","") -%}
declare -A {{ host.split('.')[0] }}=(
          [SERVER_ROLE]="{{ host_role }}"
          [SERVER_NAME]="{{ host }}"
          [SERVER_MAC]="{{ hostvars[host].mac }}"
          [SERVER_IP]="{{ hostvars[host].ansible_host }}"
        )
VM_LIST=( ${VM_LIST[@]} {{ host.split('.')[0] }} )

{% endfor %}

# STEP 1: Download OKD Installer and Client Tools
if [ ! -x /usr/local/bin/openshift-install ] ||
   [ ! -x /usr/local/bin/oc ] ||
   [ ! -x /usr/local/bin/kubectl ]; then

  [ "${OKD_VERBOSE}" == "true" ] && echo "Installing OKD tools . . . "

  cd /var/lib/libvirt/okd-install
  wget ${OKD_DOWNLOAD}/$OKD_VERSION/openshift-client-linux-$OKD_VERSION.tar.gz
  wget ${OKD_DOWNLOAD}/$OKD_VERSION/openshift-install-linux-$OKD_VERSION.tar.gz

  tar xvf openshift-client-linux-$OKD_VERSION.tar.gz
  tar xvf openshift-install-linux-$OKD_VERSION.tar.gz
  mv openshift-install oc kubectl /usr/local/bin/
  rm -f README.md
fi

[ "${OKD_VERBOSE}" == "true" ] && oc version
[ "${OKD_VERBOSE}" == "true" ] && openshift-install version; echo

# STEP 2: Get CoreOS Images
cd /var/lib/libvirt/images/OKD4
ISO_URL=$(openshift-install coreos print-stream-json \
  | jq . \
  | grep location \
  | grep $ARCH \
  | grep iso \
  | cut -d\" -f4)

for D in SCOS_KERNEL SCOS_INITRD SCOS_ROOTFS SCOS_RAW SCOS_ISO; do
  if [ ! -f ${!D} ]; then
    [ "${OKD_VERBOSE}" == "true" ] && echo "Downloading ${!D} . . . "
    wget ${SCOS_DOWNLOAD}/${!D}
  fi
done

if [ "${OKD_UPLOAD}" == "true" ]; then
  [ "${OKD_VERBOSE}" == "true" ] && echo "Upload images to service node . . . "
  scp -i ~/.ssh/okd_rsa ${SCOS_RAW} ${SCOS_ROOTFS} \
   apache@${SERVICE_NODE}:/var/www/html/${OKD_CLUSTER_NAME}
fi

# STEP 3: Create Installation Configuration
# NOTE: Since some of the Certificates have a life span of 1 day,
# best to regenerate the ignitionfiles each time the cluster is 
# deployed from scratch.
#
# {"auths":{"fake":{"auth":"aWQ6cGFzcwo="}}}

if [ "${OKD_BOOTSTRAP}" == "true" ]; then
  [ "${OKD_VERBOSE}" == "true" ] && echo "Creating Ignition Configs . . . "
  cd /var/lib/libvirt/okd-install
  cp install-config-kvm.yaml install-config.yaml
  openshift-install create ignition-configs

  [ "${OKD_VERBOSE}" == "true" ] && echo "Uploading Ignition Configs . . . "
  scp -i ~/.ssh/okd_rsa *.ign \
    apache@${SERVICE_NODE}:/var/www/html/${OKD_CLUSTER_NAME}
fi

# STEP 4: Launch VM's
# NOTE: Each VM must be manually powered off when install is complete

if [ "${OKD_BOOTSTRAP}" == "true" ]; then
  for L in ${VM_LIST[@]}; do
    [ "${OKD_VERBOSE}" == "true" ] && echo "Launching OKD Node ${L} . . . "
    # NOTE: Disable SELinux on the KVM hypervisor and in the OKD nodes.
    declare -n VM=${L}

    # Options for Booting
    BOOT_MEM=1024
    DISK_SIZE=100G
    VCPUS=1
    BOOT_KERNEL=${IMGS}/OKD4/${SCOS_KERNEL}
    BOOT_INITRD=${IMGS}/OKD4/${SCOS_INITRD}
    BOOT_ARGS="ip=dhcp rd.neednet=1 coreos.inst.install_dev=/dev/vda coreos.inst.image_url=http://${SERVICE_IP}:80/${OKD_CLUSTER_NAME}/${SCOS_RAW} coreos.inst.ignition_url=http://${SERVICE_IP}:80/${OKD_CLUSTER_NAME}/${VM[SERVER_ROLE]}.ign coreos.live.rootfs_url=http://${SERVICE_IP}:80/${OKD_CLUSTER_NAME}/${SCOS_ROOTFS} coreos.inst.insecure selinux=0"

    # Set Memory Size Based on Server Role
    case ${VM[SERVER_ROLE]} in
      bootstrap)
        BOOT_MEM=3072;
        DISK_SIZE=200G;
        VCPUS=1;
        ;;
      master)
        BOOT_MEM=24576;
        DISK_SIZE=400G;
        VCPUS=2;
        ;;
      worker)
        BOOT_MEM=3072;
        DISK_SIZE=200G;
        VCPUS=2;
        ;;
      *)
        exit 1 && echo "Unkown node type."
        ;;
    esac

    qemu-img create -f qcow2 ${IMGS}/${VM[SERVER_NAME]}.qcow2 ${DISK_SIZE}
    virt-install --name ${VM[SERVER_NAME]} \
                 --graphics vnc \
                 --noautoconsole \
                 --autostart \
                 --vcpus ${VCPUS} \
                 --osinfo centos-stream${SCOS_MAJ_VERS} \
                 --ram ${BOOT_MEM} \
                 --disk path=${IMGS}/${VM[SERVER_NAME]}.qcow2,device=disk \
                 --network network:${VIRT_NET},mac=${VM[SERVER_MAC]} \
                 --boot kernel=${BOOT_KERNEL},initrd=${BOOT_INITRD},kernel_args="${BOOT_ARGS}"
  done
fi

# When the install is complete, the OKD node will reboot to install again.
# At that time, OKD restart needs to happen to modify the boot options
# of the node so that it boots from disk.
if [ "${OKD_RESTART}" == "true" ]; then
  for L in ${VM_LIST[@]}; do
    [ "${OKD_VERBOSE}" == "true" ] && echo "Shutting down ${L} . . . "
    declare -n VM=${L}
    virsh destroy ${VM[SERVER_NAME]}

    echo "NOTICE: Delete the kernel, initrd and cmdline args."
    sleep 5
    virsh edit ${VM[SERVER_NAME]}

  done

  # Starting each node after ALL nodes have been modified.
  for L in ${VM_LIST[@]}; do
    [ "${OKD_VERBOSE}" == "true" ] && echo "Starting ${L} . . . "
    declare -n VM=${L}
    virsh start ${VM[SERVER_NAME]}

    echo "NOTICE:
      When each node comes back up, disable SE Linux:
        - On boot - add selinux=0 to the kernel line
        - Permanent 
          > grubby --update-kernel ALL --args selinux=0
          > sed -i 's|SELINUX=enforcing|SELINUX=disabled|g' /etc/selinux/config
    "
    sleep 30
  done
fi

# STEP Clean-up: Remove Nodes and generated files
# CAUTION: This tears down the cluster!

if [ "${OKD_DESTROY}" == "true" ]; then
  # Destroy, undefine and remove disks
  [ "${OKD_VERBOSE}" == "true" ] && echo "Terminating nodes . . . "
  for L in ${VM_LIST[@]}; do
    [ "${OKD_VERBOSE}" == "true" ] && echo "Clean-up for Node ${L} . . . "
    declare -n VM=${L}
    virsh destroy ${VM[SERVER_NAME]}
    virsh undefine ${VM[SERVER_NAME]}
    rm -rf /var/lib/libvirt/images/${VM[SERVER_NAME]}.qcow2
  done

  # Remove Ignition files
  [ "${OKD_VERBOSE}" == "true" ] && echo "Removing Ignition Files . . . "
  cd /var/lib/libvirt/okd-install
  rm -rf auth *.ign *.json .openshift*
  ssh -i ~/.ssh/okd_rsa apache@${SERVICE_NODE} "rm -f /var/www/html/${OKD_CLUSTER_NAME}/*.ign"
fi
